<footer class="footer-pets">
  <div class="footer-content">
    <div class="social-media">
      <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
    
    <div class="contact-info">
      <i class="fas fa-phone-alt"></i>
      <span class="phone-number">961-000-0000</span>
    </div>
  </div>
  
  <p class="footer-text">© 2024 VetAssistan. All rights reserved.</p>
</footer>
