/* Ajustes generales del layout */
.grid-container {
  margin: 20px;
  display: flex;
  justify-content: center; /* Centrar el contenedor */
}

.dashboard-card {
  display: flex;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #fff;
  width: 100%; /* Ancho completo */
  max-width: 1200px; /* Ancho máximo */
}

.imagen-perrito {
  flex: 1; /* Espacio para la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}

.perro {
  max-width: 100%; /* Ajustar imagen al contenedor */
  border-radius: 10px; /* Bordes redondeados en la imagen */
}

.formulario-agregar {
  flex: 1; /* Espacio para el formulario */
  margin-left: 20px; /* Margen entre imagen y formulario */
}

/* Estilos para el formulario */
form {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr; /* Una columna */
  grid-gap: 16px;
  background-color: #f7f7f7;
  padding: 20px; /* Aumentar padding */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

form label {
  font-weight: 600;
  color: #34495e;
}

form input {
  padding: 12px; /* Padding aumentado */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

form input:focus {
  border-color: #3498db; /* Color del borde al enfocar */
}

form button {
  padding: 12px; /* Aumentar padding del botón */
  background-color: #34dbdb;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px; /* Tamaño de fuente aumentado */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #2980b9;
}

/* Estilo para las tarjetas que muestran los detalles */
.mostrar-elementos {
  background-color: #fdfdfd;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.mostrar-elementos:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Títulos y detalles */
.datos-h6 {
  color: #34495e;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.dato-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #7f8c8d;
  margin: 8px 0;
}

.dato-item-strong {
  width: 120px;
  color: #2c3e50;
}

.dato-item-div {
  flex: 1;
  text-align: left;
}
